.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
  flex-shrink: 0;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.lang {
  margin-left: 10px;
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 40px;
  z-index: 10;
}

.items {
  margin-left: 30px;
  margin-top: 20px;

  :nth-child(3) {
    padding-left: 3px;
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .lang {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .Sidebar {
    position: fixed;
    z-index: 20;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--mobile-nav-height);
    display: flex;
    align-items: center;
    background-color: var(--inverted-bg-color);
  }

  .items {
    width: 100%;
    margin: 0;
    padding: 0 12px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
  }

  .switchers,
  .collapseBtn {
    display: none;
  }
}
